<div class="card-box">
  <h2 class="title">Stupid Coaching</h2>

  <div class="sentence question">
      <span class="sentence__expression"><%= @question %></span>
      <span class="sentence__expressor"><em>You</em></span>
  </div>
  <div class="sentence answer">
      <span class="sentence__expression"><strong><%= @answer %></strong></span>
      <span class="sentence__expressor"><em>Your coach</em></span>
  </div>
  <div class="backlink">
      <a href="/ask">Ask a new question</a>
  </div>
</div>
