<div class="card-box">
  <h2 class="title">Stupid Coaching</h2>
  <form class="form" action="/answer" method="get">
    <p class="subheader">Ask your coach anything:</p>
    <div class="input-container">
      <input class="input" type="text" name="question">
      <button class="button" type="submit" value="Ask">Submit</button>
    </div>
  </form>
</div>
