<h2>Stupid Coaching</h2>

<form class="form" action="/answer" method="get">
    <p class="subheader">Ask your coach anything:</p>
    <div class="input-button">
        <input class="input" type="text" name="question">
        <input class="button" type="submit" value="Ask">
    </div>
</form>
